*{
    margin: 0;
    padding:0;

}
.box1{
    height:256px;
    width:300px;
    background-color:orange;
    float:right;
}
.box2{
    height:256px;
    width:300px;
    background-color:red;
    float:right;
    clear:right;
}
