*{
    margin: 0px;
    padding: 0px;
}
.navigation{
    background-color: black;
    height: 40px;
}

li{
    display: inline;
    color: wheat;
    padding-left: 30vh;
}
li a{
    color: antiquewhite;
    text-decoration: none;
}
p{
    border:solid 2px black;
    text-align: center;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}
.container{
    border: solid black 2px;
    background-color: aqua;
    height: 50vh;
    width: 50vh;
    margin:auto;
}