*{
    margin: 0px;
    padding: 0px;
}
.navigation{
    /* margin: 0px; */
    background-color: black;
    height: 35px;
    /* padding-top: 2vh; */
    text-align: center;
}
ul{
    background: #000;
}
li{
    /* text-align: center; */
    /* display: inline; */
    color: white;
    list-style:square outside;
    list-style:square inside;
    /* margin: auto; */
    /* padding:25vh; */
}
li a{
    color: antiquewhite;
    text-decoration: none;
}
p{
    border:solid 2px black;
    text-align: center;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    /* position:relative; */
    position:absolute;
    top:0px;
    right: 0px;
    /* right:0px; */
    /* bottom: 0px; */

}
.LS{
    list-style: circle;
    margin:15px;
    pad: 15px;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: burlywood;
    /* position: relative; */
    /* bottom:200px;
    left: 50px; */
}
.container{
    border: solid black 2px;
    background-color: aqua;
    position: relative;
    height: 50vh;
    width: 50vw;
    margin:auto;
}