*{
    margin: 0;
    padding: 0%;
    
}
 body{
    background-color: chartreuse;
    /* background-image: url("Screenshot\ \(36\).png"); */
    /* width: 1800px;
    height: 651px; */
    /* bg Shorthand */
    /* background: rgb(242, 253, 92) url("Screenshot\ \(36\).png") no-repeat fixed top left; */
    /* background-position: center;
    background-attachment:scroll;
    background-repeat: space;
    background-color:rgb(233, 255, 122) ; */
    /* background-size: contain; */
} 
div{
    size:fixed;
    color: azure;
    background-color: rgb(250, 235, 215);
    background-size: cover;
    width: 100px;
}
p{
    background-size: contain;
    background-color: bisque;
    width: 400px;
    height: 400px;
}
H1{
    background-size: cover;
    width: 50px;
    color:rgb(226, 43, 43);
}
#BULLETS{
    color:rgb(81, 20, 156);
}
.one{
    color: red;
}
.hell{
    background-color: coral;
}
span.fuck{
    background-color:palegreen;
    color: darkturquoise;
}
.content{
    width: 450px;
    height: 120px;
    margin: 20px;
    margin: 14px 10px 18px 14px;
    padding: 25px;
    border: 10px solid yellow;
    border-radius: 100px;
    /* border-width: 4px;
    border-color: yellow;
    border-style: dashed; */
    background: black;
}