*{
    margin: 0px;
    padding: 0px;
}
/* html{
    font-size: 45px;
} */
.container{
    font-size: 6px;
}
.box{
    /* font-size: 19em; */
    /* EM unit relatd to parental size */
    font-size: 12px;
    /* width: 50vw; */
    /* height: 50vh; */
    text-wrap: initial;
    display: inline-block;
    background-color: chartreuse;
    /* font-size: 12rem; */
}
.box2{
    /* font-size: 19em; */
    /* EM unit relatd to parental size */

    font-size: 12px;
    /* width: 50%; */
    height:100vh;
    max-height: 50vh;
    display: inline-block;
    background-color: aquamarine;
    /* background-color: chartreuse; */
    /* font-size: 12rem; */
}