*{
    margin: 0;
    padding: 0;
}
.card1{

    height: 35vh;
    width: 35vw;
    background-color: crimson;
}
.card2{
    position: fixed;
    top:20vh;
    z-index: 1;
    height: 35vh;
    width: 35vw;
    background-color: darkseagreen;
}