* {
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    position: fixed;
    width: 250px;
    height: 100%;
}
li {
    margin-top: 1vh;
    font-family: 'Courier New', Courier, monospace;
    padding: 7vh 0vh;
    display: inline-block;
}
li a {
    font-size: 2rem;
    color: yellow;
}